@import url(react.css);

body {
    background-color: var(--main-color);
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

/* contactTop */

.contactTop{
    width: 100%;
    height: 400px;
    background-image: url(../img/big_pic.jpg);
    background-size: cover;
    background-position: center center;
}

.contactTop h1{
    font-family: var(--text-style);
    font-size: 120px;
    color: var(--text-main-color);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* contactMain */

.contactWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactIndex{
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 20px;
}

.contactIndex ul{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.contactIndex ul li {
    display: flex;
    justify-content: center;
}

.contactIndex ul li input{
    width: 300px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    background: #222;
    border: 3px dashed white;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 32px;
    padding: 30px;
}

.userEmail,
.userCont {
    width: 690px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    background: #222;
    border-radius: 32px;
    border: 3px dashed white;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    display: block;
    text-align: center;
}

.userEmail {
    margin-bottom: 30px;
    margin-top: 30px;
}

.userCont {
    width: 690px;
    height: 100px;
    margin-top: 0;
}

button {
    display: block;
    margin: 30px auto 0 auto;
    padding: 10px 100px;
    font-size: 20px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 20px;
}

button:active{
    color: rgb(255, 129, 150);
    background-color: var(--other-color-2);
}
