@import url(react.css);

/* Footer */
.topIcon ul{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.topText p{
    color: var(--text-main-color);
    font-family: var(--text-style);
    font-size: 24px;
    margin-left: 50px;
}

.topIcon{
   display: flex;
   gap: 20px;
   margin: 10px 50px 10px auto;
}

.bottomText ul{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.bottomText ul li{
    display: flex;
    flex-grow: 1;
    margin-left: 40px;
}

.bottomText ul li img{
    margin-right: 15px;
    margin-left: 50px;
    display: inline-block;
    vertical-align: middle;
}

.bottomText ul li p{
    color: var(--text-main-color);
    margin-top: 5px;
}

@media screen and (max-width: 1200px) {

   .topText p{
    font-size: 20px;
   }
   
   .bottomText ul li img{
    margin-left: 5px;
   }

}

@media screen and (max-width: 1005px) {

    .topText p{
     font-size: 16px;
   }

   .bottomText ul li p{
    font-size: 14px;
   }

   .bottomText ul li img{
    width: 24px;
    height: auto;
   }

}