@import url(react.css);

body {
    background-color: var(--main-color);
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    font-family: var(--text-style);
    color: var(--text-main-color);
    /* border: 1px solid red; */
}

/* TOP */
.top{
    display: flex;
    width: 1200px;
    height: 90px;
    align-items: center;
}

.top li a{
    font-family: var(--text-style);
    font-size: 20px;
    text-decoration: none;
    color: var(--text-main-color);
    position: relative;
}

.top img{
    display: block;
}

.top ul{
    width: 1200px;
    display: flex;
    margin-left: 45px;
}

/* 分類hover效果 */

.top ul li a:hover{
    color: pink;
}

.top ul li a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    top: 100%;
    left: 0;
    transition: .5s;
    background: #fff;
}

.top ul li a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    top: 100%;
    right: 0;
    transition: .5s;
    background: green;
}

.top ul li:hover > a::before{
    width: 50%;
    transform: translateX(100%);
}

.top ul li:hover > a::after{
    width: 50%;
    transform: translateX(-100%);
}

.top li{
    flex-grow: 1;
}

.login{
    margin-right: 10px;
}

/* main */

.menuWrapper{
    width: 1200px;
    height: 820px;
    background-image: url(../img/menu_bgi.png);
    background-position: 50% 50%;
    position: relative;
    z-index: 0; /* 內容層 為了不受透明度影響*/
}

.textHeader{
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
}

.textWrapper{
    display: flex;
    font-size: 60px;
}

.textLeft{
    /* border: 2px solid red; */
    line-height: 1.6;
    margin: 100px 30px 0 120px;
}

.textRight{
    line-height: 1.6;
    margin: 100px 30px 0 50px;
}

.menuWrapper-2{
    width: 110%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 30px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;

    /* 預防點擊干擾 */
    pointer-events: none;
      /* 動畫特效 無限循環 */
    animation: flash 1s ease-in-out infinite alternate;
}

@keyframes flash {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.3;
    }
}

/* Footer */
.topIcon ul{
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.topText p{
    color: var(--text-main-color);
    font-family: var(--text-style);
    font-size: 20px;
    margin-left: 50px;
}

.topIcon{
   display: flex;
   gap: 20px;
   margin: 10px 50px 10px auto;
}

.bottomText ul{
    width: 1200px;
    display: flex;
}

.bottomText ul li{
    display: flex;
    flex-grow: 1;
}

.bottomText ul li img{
    margin-right: 15px;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}

.bottomText ul li p{
    color: var(--text-main-color);
    margin-top: 5px;
}
