@import url(react.css);

body {
    background-color: var(--main-color);
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    font-family: var(--text-style);
    color: var(--text-main-color);
    margin-top: 50px;
}

/* main */

.menuWrapper{
    width: 100%;
    height: 820px;
    background-image: url(../img/menu_bgi.png);
    background-position: 50% 50%;
    position: relative;
    z-index: 0; /* 內容層 為了不受透明度影響*/
}

.textHeader{
    width: 1440px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    font-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textWrapper{
    display: flex;
    font-size: 60px;
}

.textLeft{
    line-height: 1.6;
    flex-grow: 1;
    margin: 150px 10px 0 250px;
}

.textRight{
    line-height: 1.6;
    flex-grow: 1;
    margin: 150px 10px 0;
}

.menuWrapper-2{
    width: 110%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 30px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;

    /* 預防點擊干擾 */
    pointer-events: none;
      /* 動畫特效 無限循環 */
    animation: flash 1s ease-in-out infinite alternate;
}

@keyframes flash {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.3;
    }
}